body {
    margin: 0;
    padding: 0;
    background-image: url(assets/background.png);
}

header {
    background-color: #333333;
    padding: 12px 10%;
}

main {
    margin-top: 60px;
    padding: 0px 10%;
}

h1 {
    font-size: 38px;
    font-family: 'Merriweather', serif;
}

h2 {
    text-align: center;
    font-size: 32px;
}

h3 {
    color: #ff0099;
    font-size: 26px;
}

h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: consolas, courier;
}

.separator {
    text-align: center;
}

nav {
    float: right;
    margin: 10px 0;
}

nav a {
    color: #ff0099;
    margin: 0 20px;
}
